.linkEdit{
    color: honeydew;
    float: right;
    text-decoration: none;
}

.linkEdit:hover{
    color: #af751d;
    transition: 0.5s;
}

.linkReturn{
    font-size: 15px !important;
    text-decoration: none;
    color: #1f2937;
}

.linkReturn:hover{
    color: #6d2020;
    transition: 0.5s;
}

.createdAt{
    color: honeydew;
    font-weight: bold;
}

#title{
    font-size: 50px;
    text-transform: uppercase;
}


form button {
    margin-top:10px;
    margin-bottom: 20px;
    background-color:black !important;
    font-weight: bold !important;
}

.comment {
    background-color: #212529;
    margin-bottom:20px;
    padding:10px 20px;
    border-radius:15px;
}

.comment-header {
    display:flex;
    justify-content:space-between;
}

.comment-actions {
    text-align: right;
}

.comment p {
    margin-bottom:0;
}